.app-left-col {
  height: 100vh;
  overflow-y: auto;
}

.app-right-col {
  height: 100vh;
}

/* bootstrap lg breakpoint = 992px */
@media (max-width: 991px) {
  .app-left-col,
  .app-right-col {
    height: 50vh;
  }
}
